<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>


<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<p style="overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;">
    一个小时的车程，在教官的带队下，很顺利地就进入警戒线内，到达案件中心现场。木房子的厨房里，一位双鬓斑白的老人倒在血泊中，暂时还看不到受伤的部位。看到法医和技术人员在一边忙碌地取证，有人在另一个房间里了解情况。
第一次看到案件里被杀害的人，心里多少还是有点害怕。我们五个人，三个男生都在指定范围里看，其余两女孩子就离得远远的。教官说，一辈子很长，从警路上也是漫长，以后可能还会遇到。所以尽量地来安慰我们，其实说去说来就我胆子大一些。我记得小时候听到老人们说，如果害怕去世的人，或者是被什么东西吓到。一定要看清楚是怎么回事，知道了才不会害怕。
我的理解就是一定要看清楚，看不清的话，可能会有无尽的想象，越想象越害怕。所以我从各个角度去观察，眼睛跟随着忙碌的现场技术人员。之前出警的时候，我们都是在外围搜查凶器，或者是警戒。如今，还是第一次近距离的看到尸体。不说怕，也不说不怕。可这是工作，总得有人做嘛。通过观察，死者大约是五十多岁的男性，卧躺处隐约看到胸口处有暗黑色铁一般的物件，像是剪刀。周围也有血液凝固，可能那就是致命伤。
教官问我们怎么样，还想不想了解。说如果不想在现场的话，那就去车里坐着等。其他人巴不得赶紧离开现场，而我还是很好奇。想要在现场允许的范围之内活动下，看看能不能找到点突破口，或者找到点什么关键
</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>